.upload { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload > input {
  margin: 24px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn{
  margin: 24px;
}

.ngx-file-drop__drop-zone {
  width: 280px;
}
